name: Terraform Plan

on:
  pull_request:
    paths:
      - 'terraform/**'
    paths-ignore:
      - 'terraform/README.md'
      - 'terraform/bootstrap.sh'
      - 'terraform/.env.example'
      - 'terraform/role-definition.yaml'

permissions:
  contents: read
  id-token: write

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.0" # Or your desired version

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false
        env:
          TF_VAR_gcp_project_id: ${{ secrets.GCP_PROJECT_ID }}
          TF_VAR_google_api_key_value: ${{ secrets.GOOGLE_API_KEY_VALUE }}
          TF_VAR_google_cse_id_value: ${{ secrets.GOOGLE_CSE_ID_VALUE }}
          TF_VAR_github_repository: ${{ github.repository }}
